<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkciYWxTpUoBy-BwHuTzjSYUOYZYN3y5g</string>
	<key>GCM_SENDER_ID</key>
	<string>939034205014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techorphic.dhikrShare</string>
	<key>PROJECT_ID</key>
	<string>dhikrshare-11f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>dhikrshare-11f0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939034205014:ios:e3078f461f91dccfbb94f7</string>
</dict>
</plist>